<%= form_for @comment, url: {action: "update"}  do |f| %>
    <div>
      <%= f.text_area :message %>
    </div>
    <%= f.submit %>
  <% end %>
  
<%= link_to "Delete Comment", blog_comment_path, method: :delete %>