.navbar{
	text-align: center;
	margin: 5px auto;
}

.navbar li {
	display:inline-block;
	margin: 0px 10px;
	margin-bottom: 12px;
	font-size: 13pt;
	padding: 8px;
}

#flash_message{
	margin: 2px auto;
	color:white;
}



input[type="submit"]{
	background-color:orange;
	font-size: 13pt;
}

body{
	left:0;
	right:0;
	text-align:center;
	padding: 10px;
	background-color: teal;
	background-image: url("haha.jpg");
	background-size: cover;
}

a{
	border-bottom: 1px solid;
	text-decoration:none;
	color: white;
}

@media all and (min-width: 350px) and (max-width: 450px){
	#text_area_content{
		width: 40vmin;
	}
	#text_field_title{
		width:35vmin;
	}
	#Create_Blog_Title{
		width: 40%;
	}

	
}