.navbar{
	text-align: center;
	margin: 5px auto;
}

.navbar li {
	display:inline-block;
	margin: 0px 10px;
	margin-bottom: 12px;
}

#flash_messgae{
	margin: 2px auto;
	display: inline-block;
}


input[type="submit"]{
	background-color:orange;
	font-size: 13pt;
}

body{
	left:0;
	right:0;
	text-align:center;
	padding: 10px;
}

a{
	border-bottom: 1px solid;
	text-decoration:none;
	color: black;
}